<!--The content below is only a placeholder and can be replaced.-->
<div class="header">
  <div class="logo">
    <img src="assets/images/logo.svg" />
  </div>
  <div class="menu">
    <ul>
      <li>Como funciona</li>
      <li>Beneficios MEI</li>
      <li>Fique por dentro</li>
      <li>Dúvidas</li>
      <li>Fechar</li>
    </ul>
  </div>
</div>
<div class="content">
  <div class="left-side">
    <div class="steps">
      <ul>
        <li><span [ngClass]="{'indicator': true, 'selected': currentStep === 0}"></span><span class="number">1.</span> {{firstStep}}</li>
        <li><span [ngClass]="{'indicator': true, 'selected': currentStep === 1}"></span><span class="number">2.</span> {{secondStep}}</li>
        <li><span [ngClass]="{'indicator': true, 'selected': currentStep === 2}"></span><span class="number">3.</span> Código de verificação</li>
      </ul>
    </div>
    <div class="image-step">
      <img src="assets/images/img-select.svg"/>
    </div>
  </div>
  <div class="right-side">
    <div class="step-content">
      <ng-template appComponentHost></ng-template>
    </div>
    <div class="step-button">
      <button type="button" *ngIf="currentStep !== 0" class="back-button" (click)="previousStep()">Anterior</button>
      <button type="button" class="next-button" (click)="nextStep()">Próximo</button>
    </div>
  </div>
</div>
<router-outlet></router-outlet>